c++
"\c++\bcc32.exe"
"C:\Program Files\Borland\CBuilder6\include";"C:\Program Files\Borland\CBuilder6\include\vcl"
"C:\Program Files\Borland\CBuilder6\lib";"C:\Program Files\Borland\CBuilder6\lib\obj";"C:\Program Files\Borland\CBuilder6\lib\release";"C:\Program Files\Borland\CBuilder6\lib\PSDK\
